{% extends 'accounts/main.html' %}

{%block contain%}

<br>

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer: <span class="text-primary font-weight-bold">{{customer.name}}</span></h5>
                <hr>
                <a href="" class="btn btn-outline-info btn-sm btn-block">Update Customer</a>
                <a href="" class="btn btn-outline-danger btn-sm btn-block">Delete Customer</a>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: <span class="text-primary font-weight-bold">{{customer.email}}</span></p>
                <p>Phone: <span class="text-primary font-weight-bold">{{customer.phone}}</span></p>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px;">{{total_order}}</h1>
            </div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form action="" method="get">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Date Ordered</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.product}}</td>
                            <td>{{order.product.category}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            <td><a href="{% url 'update-order' order.id %}" class="btn btn-info btn-sm btn-block">Update</a></td>
                            <td><a href="{% url 'delete-order' order.id %}" class="btn btn-danger btn-sm btn-block">Delete</a></td>                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}