{% extends 'accounts/main.html' %}

{%block contain%}

<div class="container">
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                        <tr>
                            <td>{{p.name}}</td>
                            <td>{{p.category}}</td>
                            <td>{{p.price}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}